streamlit
numpy==1.26.4
pandas
matplotlib
fpdf
textblob
transformers
torch
plotly
streamlit-lottie
requests
Pillow
streamlit-extras
speechrecognition
pyttsx3
googletrans==4.0.0-rc1
python-docx
pypdf2
streamlit-mic-recorder
textstat
evaluate
rouge-score
datasets
scikit-learn
streamlit-autorefresh
spacy
sentence-transformers==2.2.2
kaggle
google-generativeai
